@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";



.font-family {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;

}
@keyframes swiper-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-swiper-scroll {
  animation: swiper-scroll 30s linear infinite;
}